{% extends 'base.html' %} {% block head_content %}
<title>Platzigram feed</title>
{% endblock head_content %} {% block container %}
<div class="row">
  {% for post in posts %}
  <div class="col-lg-4 offset-lg-4">
    <div class="media">
      <img
        class="mr-3 rounded-circle"
        src="{{ post.author.picture }}"
        alt="{{ post.author.name }}"
      />
      <div class="media-body">
        <h5 class="mt-0">{{ post.author.name }}</h5>
        {{ post.timestamp }}
      </div>
    </div>
    <img
      class="img-fluid mt-3 border rounded"
      src="{{ post.url_picture }}"
      alt="{{ post.title }}"
    />
    <h6 class="ml-1 mt-1">{{ post.title }}</h6>
    <p>{{ post.content }}</p>
  </div>
  {% endfor %}
</div>

{% endblock container %}
